.btn-home {
    width: 80%;
    font-size: 3vw;
    padding: 1em;
    color: white;
    border: solid 1px #22a1e6;
    background: #0070ad;
    margin: 0.3em;
}

.background-image {
    /*background-image: url(images/background2-low-brightness.png);
    background-position: center;
    background-repeat: repeat;*/
    background-color: #004469;
}

.navbar {
    opacity: 0.8;
}

.container {
    background-color: white;
    border-radius: 8px;
    opacity: 0.8;
    padding: 1em 1em 1em 1em;
    margin-bottom: 2em;
}

form {
    padding: 1em;
}

input[type="checkbox"] {
    margin: 0px;
}

.form-check-input {
    position: unset;
}

.btn-primary {
    margin-top: 15px;
}

footer {
    position: relative;
    bottom: 0;
    margin-bottom: 1em;
    width: 100%;
}

.search-box {
    width: 20%;
}

.list-background {
    background-color: #d4eefc;
    border: 2px solid #004469;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
}

.form-control {
    width: 30%;
    min-width: 200px;
}

.form-control-wider {
    width: 50%;
}

.description {
    border: 2px solid #004469;
}