@model RehearsalStudio

@{
    ViewData["Title"] = "Próbahely törlése";
}

<h1>Törlés</h1>

<h3>Biztosan törölni akarja?</h3>
<p class="bg-danger">A próbahely törlésével a hozzá tartozó termek is törlődnek!</p>

<h2>Adatok:</h2>
<table class="table table-striped">
    <tr>
        <th>Próbahely neve:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Termek száma:</th>
        <td>@Model.Rooms.Count</td>
    </tr>
    <tr>
        <th>Cím:</th>
        <td>@Model.Address</td>
    </tr>
</table>
<div>
    <form asp-action="Delete" asp-route-studioId="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-dark">Mégsem</a>
    </form>
</div>
