@model IEnumerable<RehearsalStudio>

@{
    ViewData["Title"] = "Próbahelyek";
}

@if (ViewBag.CurrentUserRole == "owner")
{
    <h1 class="display-4 color-light">Próbahelyeim</h1>
    <a asp-action="Create" class="btn btn-primary align-baseline mb-4">
        <svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Próbahely hozzáadása
    </a>

}
else if (ViewBag.CurrentUserRole == "administrator")
{
    <a asp-action="AddStudio" class="btn btn-primary align-baseline mb-4">Stúdió generálása</a>
}
else
{
    <div class="display-4 color-light">Próbahelyek</div>
}

<form asp-action="Index" method="get" class="form-inline mb-3 mt-3">
    <div class="row">
        <div class="col-auto">
            <input type="text" name="SearchString" placeholder="Keresés névre..." value="@ViewData["CurrentFilter"]" class="form-control mr-sm-2" />
        </div>
        <div class="col-auto">
            <input type="submit" value="Keresés" class="btn btn-outline-success my-2 my-sm-0" />
        </div>
    </div>
</form>

@if (!Model.Any() && ViewBag.CurrentUserRole == "owner")
{
<div class="alert alert-warning">Önnek nincs még regisztrált próbahelye.</div>
}

@{ 
    int count = Model.Count();
}

@for (int i = 0; i < Math.Ceiling(count / 12.0); ++i)
{
    <div class="row">
        @for (int j = 0; j < 12; ++j)
        {
            @if ((i * 12 + j) < count)
            {
                <div class="col mt-4">

                    @await Html.PartialAsync("_StudioCardPartial", Model.ToList()[i * 3 + j])
               
                </div>
            }
        }
    </div>
}