@{
    ViewData["Title"] = "Próbaterem foglalás";
}

<div class="text-center">
    <p><a asp-controller="RehearsalRooms" asp-action="Index" class="btn btn-primary" role="button">Ugrás a próbatermek listájára</a></p>

    <p><a asp-controller="RehearsalStudios" asp-action="Index" class="btn btn-primary" role="button">Ugrás a próbahelyek listájára</a></p>

</div>