@{
    ViewData["Title"] = "Próbaterem foglalás";
}

<div class="text-center">
    <div class="row no-gutters">
        <div class="col-sm"><a asp-controller="RehearsalRooms" asp-action="Index" class="btn btn-light btn-home" role="button">PRÓBATERMEK</a></div>
        <div class="col-sm"><a asp-controller="RehearsalStudios" asp-action="Index" class="btn btn-light btn-home" role="button">PRÓBAHELYEK</a></div>
    </div>
</div>