@model ImageUploadViewModel

<form asp-controller="RehearsalRooms" asp-action="AddImages" enctype="multipart/form-data">
    <input type="hidden" asp-for="EntityId" />
    <div class="form-group">
        <div class="row">
            <div class="col-auto">
                <label for="upload">Fájlok feltöltése</label>
            </div>
            <div class="col-auto">
                <input asp-for="Images" class="form-control-file" id="upload" data-show-upload="false" data-show-caption="true" multiple />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-sm btn-secondary mb-4">Képek feltöltése</button>
            </div>
        </div>
    </div>
</form>
