@model ReservationViewModel
<div class="light-color-letters">
<h1 class="display-4">Foglalás módosítása</h1>

<form asp-controller="Reservations" asp-action="Edit">
    <h2>Foglaló adatai</h2>
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label for="name">Név</label>
        <input class="form-control" asp-for="UserOwnName" id="name" readonly />
    </div>
    <h2>Foglalás adatai</h2>
    <input type="hidden" asp-for="ReservationId" />
    <input type="hidden" asp-for="RoomId" />
    <input type="hidden" asp-for="RoomNumber" />
    <input type="hidden" asp-for="StudioName" />
    <div class="form-group failureNotification">
        <label for="band">Zenekar neve</label>
        <input class="form-control" asp-for="BandName" id="band" />
        <span asp-validation-for="BandName"></span>
    </div>


    <div class="form-group failureNotification">
        <label for="date">Dátum</label> <br />
        <input asp-for="Day" type="date" asp-format="{0:yyyy-MM-dd}" id="date" class="form-control" />
        <span asp-validation-for="Day"></span>
    </div>
    <div class="form-group failureNotification">
        <label for="start">Foglalás kezdete (óra)</label>
        <select asp-for="StartHour" id="start" class="form-control" asp-items="ViewBag.Hours" style="max-width: 70px;"></select>
        <span asp-validation-for="StartHour" class="text-danger"></span>
    </div>
    <div class="form-group failureNotification">
        <label for="end">Foglalás vége (óra)</label>
        <select asp-for="EndHour" class="form-control" id="end" asp-items="ViewBag.Hours" style="max-width: 70px;"></select>
        <span asp-validation-for="EndHour" class="text-danger"></span>
    </div>
    <div class="form-inline failureNotification">
        @foreach (var key in Model.Equipments.Keys)
        {
            <div class="row">
                <div class="col-auto">
                    <input asp-for="@Model.Equipments[key]" />
                </div>
                <div class="col-auto">
                    <div class="mx-2">@key</div>
                </div>
            </div>
        }
    </div>
    <input type="submit" value="Mentés" class="btn btn-primary align-baseline mt-4" />
    <a class="btn btn-outline-danger align-baseline mt-4" asp-action="Index">Mégsem</a>
</form>
</div>