@model LoginViewModel


<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@TempData["returnUrl"]">
    <div class="form-group">
        <div class="failureNotification">@ViewBag.Information</div>
        <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
        <div class="display-4 color-light">
            BEJELENTKEZÉSI ADATOK
        </div>
    </div>
    <div class="form-group">
        <label for="userName" class="color-light">Felhasználónév</label>
        <div class="failureNotification">
            <div class="form-group">
                <input class="form-control" style="max-width: 300px;" id="userName" asp-for="UserName" placeholder="Felhasználónév" />
                <span asp-validation-for="UserName"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="pwd" class="color-light">Jelszó</label>
        <div class="failureNotification">
            <div class="form-group">
                <input type="password" class="form-control" style="max-width: 300px;" id="pwd" asp-for="UserPassword" placeholder="Jelszó" />
                <span asp-validation-for="UserPassword"></span>
            </div>
        </div>
    </div>
    <div class="form-check my-2">
        <input type="checkbox" class="form-check-input" id="rememberLogin" asp-for="RememberLogin" />
        <label class="form-check-label color-light" for="rememberLogin">Bejelentkezés megjegyzése</label>
    </div>
    <input type="submit" value="Bejelentkezés" class="btn btn-primary" />
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

