@model MusicianRegistrationViewModel

@{
    ViewData["Title"] = "Profil szerkesztése";
}

<h4>Adatok módosítása</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserOwnName" class="control-label">Név</label>
                <input asp-for="UserOwnName" class="form-control" />
                <span asp-validation-for="UserOwnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Felhasználónév</label>
                <textarea asp-for="UserName" class="form-control"></textarea>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label">Email cím</label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhoneNumber" class="control-label">Telefonszám</label>
                <input asp-for="UserPhoneNumber" class="form-control" />
                <span asp-validation-for="UserPhoneNumber" class="text-danger"></span>
            </div>
            @if (ViewBag.CurrentUserRole == "musician")
            {
                <div class="form-group">
                    <label asp-for="BandName" class="control-label">Alapértelmezett zenekarnév</label>
                    <input asp-for="BandName" class="form-control" />
                    <span asp-validation-for="BandName" class="text-danger"></span>
                </div>
            }
            <!--
            <div class="form-group">
                <label for="picture">Profilkép</label>
                <input asp-for="ProfilePicture" type="file" class="form-control-file" id="picture" />
            </div>
            -->
>           <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
                @if (ViewBag.CurrentUserRole == "administrator")
                {
                    <a class="btn btn-outline-danger" asp-controller="Users" asp-action="Index">Mégsem</a>
                }
                else
                {
                    <a class="btn btn-outline-danger" asp-controller="Account" asp-action="GetProfileDetails">Mégsem</a>
                }
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
